@import "tailwindcss";
@import "@angular/material/prebuilt-themes/azure-blue.css";

html, body {
  direction: rtl;
  font-family: 'Cairo', 'Segoe UI', Tahoma, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  color: #111;
}

.mat-mdc-form-field  { direction: rtl; }
.mat-mdc-dialog-container { direction: rtl; }

::-webkit-scrollbar { width: 5px; height: 5px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #bbb; border-radius: 3px; }

.amount-cell { font-variant-numeric: tabular-nums; }
